@using WebApplication1.Models
@model Author

@{
    ViewData["Title"] = "Create Author";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header text-center bg-primary text-white">
                <h4>Create Author</h4>
            </div>
            <div class="card-body">
                <form asp-action="Create" method="post" class="needs-validation" novalidate>
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    <div class="form-group mb-3">
                        <label asp-for="FirstName" class="form-label">First Name</label>
                            <input asp-for="FirstName" class="form-control" placeholder="Stephen" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="LastName" class="form-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" placeholder="King" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Age" class="form-label">Age</label>
                        <input asp-for="Age" class="form-control" placeholder="20" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Image" class="form-label">Image URL</label>
                        <input asp-for="Image" class="form-control" placeholder="https://example.com/image.jpg"/>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success w-100">Save</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary w-100 mt-2">Cancel</a>
                    </div>
        </form>
    </div>
</div>