@using WebApplication1.Models
@model List<Student>
<style>
    tr:hover {
        cursor: pointer;
        background-color: #f0f0f0;
    }
</style>
@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>


<a asp-action="Create"><button class="btn btn-success">Create</button></a>

<table class="table" style="margin-top:50px">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr onclick="window.location.href='@Url.Action("Detail", new { Id = student.Id })'">
                <td>@student.Id</td>
                <td>@student.FirstName</td>
            </tr>
        }

    </tbody>
</table>